$fileTransferButtonFontSize: 16px;
$buttonFontColor: #fff;
$errorMessageFontColor: #f36;

.fileTransferButton {
  width: 160px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.uploadButton {
  @extend .fileTransferButton;
  background-color: #3c3;
  label {
    width: 100%;
    height: 100%;
    display: block;
    font-size: $fileTransferButtonFontSize;
    line-height: $fileTransferButtonFontSize * 2;
    color: $buttonFontColor;
    cursor: pointer;
  }
  input {
    display: none;
  }
}
.downloadButton {
  @extend .fileTransferButton;
  background-color: #09f;
  a {
    width: 100%;
    height: 100%;
    font-size: $fileTransferButtonFontSize;
    line-height: $fileTransferButtonFontSize * 2;
    color: $buttonFontColor;
    text-decoration: none;
    display: block;
  }
}

.fileTransferButtonArea {
  height: 30px;
  .downloadButton {
    position: relative;
    top: -30px;
    left: 180px;
  }
}

.optionSettingArea {
  margin: 20px 0 30px 0;
  label {
    padding: 10px 0;
    cursor: pointer;
  }
}

.errorMessage {
  color: $errorMessageFontColor;
}
