$file-transfer-button-font-size: 16px;
$button-font-color: #fff;
$error-message-font-color: #f36;

body {
  margin: 0;
}

.header {
  position: fixed;
  width: 100%;
}

.header-menu {
  background-color: #00a7ea;
  height: 44px;
}

.header-menu-button {
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  text-align: center;

  &__icon {
    border: none;
    width: 50px;
    height: 32px;
    padding: 0px;
    margin-top: 6px;
    font-size: 22px;
    input {
      display: none;
    }
  }

  &__text {
    border: 2px solid #fff;
    border-radius: 30px;
    width: 146px;
    height: 28px;
    margin: 5px 18px;
    padding: 0px;
    font-size: 15px;
    &-active {
      color: #000;
      border: 2px solid #000;
    }
  }

}
.header-menu-button:hover {
  color: #0068b7;
}

.header-sub-menu {
  color: #000;
  background-color: #d2f8ff;
  height: 28px;
}

.file-drop-area {
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  border: 2px solid #ddd;
}

.file-drag-over-area {
  background-color: #09f;
  opacity: 0.3;
}

.file-transfer-button {
  width: 160px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.upload-button {
  @extend .file-transfer-button;
  background-color: #3c3;
  label {
    width: 100%;
    height: 100%;
    display: block;
    font-size: $file-transfer-button-font-size;
    line-height: $file-transfer-button-font-size * 2;
    color: $button-font-color;
    cursor: pointer;
  }
  input {
    display: none;
  }
}
.download-button {
  @extend .file-transfer-button;
  background-color: #09f;
  a {
    width: 100%;
    height: 100%;
    font-size: $file-transfer-button-font-size;
    line-height: $file-transfer-button-font-size * 2;
    color: $button-font-color;
    text-decoration: none;
    display: block;
  }
}

.file-transfer-button-area {
  height: 30px;
  .download-button {
    position: relative;
    top: -30px;
    left: 180px;
  }
}

.option-setting-area {
  margin: 20px 0 30px 0;
  label {
    padding: 10px 0;
    cursor: pointer;
  }
}

.error-message {
  color: $error-message-font-color;
}
