$file-transfer-button-font-size: 16px;
$button-font-color: #fff;
$error-message-font-color: #f36;
$header-menu-height: 44px;
$header-sub-menu-height: 28px;
$upload-guidance-height: 24px;
$upload-image-top: 100px;

body {
  margin: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
}

.header-menu {
  background-color: #00a7ea;
  height: $header-menu-height;
}

.header-menu-button {
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  text-align: center;

  &__icon {
    border: none;
    width: 50px;
    height: 32px;
    padding: 0px;
    margin-top: 6px;
    font-size: 22px;
    input {
      display: none;
    }
  }

  &__text {
    border: 2px solid #fff;
    border-radius: 30px;
    width: 146px;
    height: 28px;
    margin: 5px 18px;
    padding: 0px;
    font-size: 15px;
    &-active {
      color: #000;
      border: 2px solid #000;
    }
  }

}
.header-menu-button:hover {
  color: #0068b7;
}

.header-sub-menu {
  color: #000;
  background-color: #d2f8ff;
  height: $header-sub-menu-height;
}

.upload-guidance {
  position: relative;
  top: $header-menu-height + $header-sub-menu-height + 10px;
  left: 10px;
  height: $upload-guidance-height;
}

.file-drop-area {
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  position: relative;
  top: $upload-image-top;
  left: 10px;
}

.upload-image {
  position: relative;
  top: $upload-image-top;
  left: 10px;
}

#sketch-canvas {
  position: absolute;
  top: $upload-image-top + $upload-guidance-height;
  left: 10px;
}

.file-drag-over-area {
  background-color: #09f;
  opacity: 0.3;
}

.file-transfer-button {
  width: 160px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.error-message {
  color: $error-message-font-color;
}
