.fileTransferButton, .uploadButton, .downloadButton {
  width: 160px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.uploadButton {
  background-color: #3c3;
}
.uploadButton label {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  cursor: pointer;
}
.uploadButton input {
  display: none;
}

.downloadButton {
  background-color: #09f;
}
.downloadButton a {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  text-decoration: none;
  display: block;
}

.fileTransferButtonArea {
  height: 30px;
}
.fileTransferButtonArea .downloadButton {
  position: relative;
  top: -30px;
  left: 180px;
}

.optionSettingArea {
  margin: 20px 0 30px 0;
}
.optionSettingArea label {
  padding: 10px 0;
  cursor: pointer;
}

.errorMessage {
  color: #f36;
}
